# You need to create 4 `.env.$(NODE_ENV)` files:
# .env.development, .env.production, .env.e2e, .env.test
# .env.test is used for unit and integration tests in vitest
# .env.e2e is used for end-to-end tests in playwright
# .env.development is used in your own development enviroment
# .env.production is used during the build and start of Next.js
# Check the src/env/configs.ts file for more details on how we handle enviroments

# Accepted values: development, test, e2e, production
CURRENT_ENV=''